@{
    ViewData["Title"] = "Home Page";
    SessionViewModel sessionObject = Context.Session.GetJson<SessionViewModel>("SessionObject") ?? new SessionViewModel();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p class="text-right">
    @*<label>Month number:</label> @DateTime.Now.Month*@
    <ul class="list-group-item-primary">
        <li>User id: @sessionObject.UserId</li> 
        <li>Email: @sessionObject.Email</li> 
        <li>Password: @sessionObject.Password</li> 
        <li>First Name:  @sessionObject.FirstNames</li>
        <li>Last Name:  @sessionObject.LastNames</li>
        <li>Is Active: @sessionObject.IsActive</li> 
        <li>Created At: @sessionObject.CreatedAt</li> 
    </ul>

</p>
